.container {
  font-size: 10px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: end;
}

.newGame {
  padding: 5px;
  background-color: transparent;
  color: white;
  margin-top: 5px;
  outline: none;
}
